################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*/packages
*/bin
*/obj
/packages
*.csproj.user

*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*