[submodule "Rappen.XTB.Helper"]
	path = Rappen.XTB.Helper
	url = https://github.com/rappen/Rappen.XTB.Helper
[submodule "Rappen.XTB.Supporting"]
	path = Rappen.XTB.Supporting
	url = https://github.com/rappen/Rappen.XTB.Supporting
