################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*/packages
*/bin
*/obj
/packages
/tmp
*.csproj.user
*.orig

*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
/.vs
